@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  width: 100dvw;
  height: 100dvh;
  background-color: #1c8d73;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Poppins", sans-serif;
}

.programming-thumb img {
  border-radius: 10px;
}
h1 {
  color: #fff;
}
#typed {
  color: #e8bd0d;
}
.typed-cursor {
  color: #e8bd0d;
  font-weight: bold;
}
